$color-primary: #212121;
$color-primary-lighter: #2e2e2e;

$color3: white;
$color4: #f5f5f5;
$color5: black;
$color6: lightgray;
$color7: darkgray;
$color8: #ebebeb;

$font-primary: 'Montserrat', sans-serif;