.dropdown {
    position: relative;

    &__content {
        display: none;
        position: absolute;
        right: 0;
        background-color: $color-primary;
        padding: 1rem;

        button, a {
            color: $color3;
            margin-bottom: 0.1rem;
        }
    }

    &:hover{
        .dropdown__content {
            display: block;
        }
    }
}